---
const {id, code, name, creditHours, prerequisites, sequences} = Astro.props;
---

<sticky-note
        id={id}
        data-prerequisites={JSON.stringify(prerequisites)}
        data-prerequisite-sequence={JSON.stringify(sequences.prerequisiteSequence)}
        data-postrequisite-sequence={JSON.stringify(sequences.postrequisiteSequence)}
        class="min-w-44 w-full"
>
    <div class="relative h-36 bg-gray-200 p-4 py-3 hover:bg-blue-100 transition-colors group rounded-lg">
        <h3 class="font-semibold text-lg mb-1">{code}</h3>
        <p class="text-sm line-clamp-3">{name}</p>
        <p class="absolute bottom-3 right-3 text-sm text-gray-600 font-semibold">{creditHours} Cr.</p>
        <i
                data-lucide="info"
                class="opacity-0 size-5 absolute top-3 right-3 group-hover:opacity-100 cursor-pointer"
        />
        <div class="indicator absolute top-2 right-2"></div>
    </div>
</sticky-note>

<script>
    import type {CoursePrerequisite} from "../types";
    import {createElement, createIcons, Info, ChevronsRight, ChevronsLeft, ChevronLeft} from "lucide";

    createIcons({icons: {Info}});

    class StickyNote extends HTMLElement {
        constructor() {
            super();

            const prerequisites: CoursePrerequisite[] = JSON.parse(this.dataset.prerequisites || '[]');
            const prerequisiteSequence: number[] = JSON.parse(this.dataset.prerequisiteSequence || '[]');
            const postrequisiteSequence: number[] = JSON.parse(this.dataset.postrequisiteSequence || '[]');

            this.addEventListener('mouseenter', () => {
                this.highlightPrerequisites(prerequisites);
                this.highlightPrerequisiteSequence(prerequisiteSequence);
                this.highlightPostrequisiteSequence(postrequisiteSequence);
            });

            this.addEventListener('mouseleave', () => this.resetHighlights());
        }

        highlightPrerequisites(prerequisites: CoursePrerequisite[]) {
            prerequisites.forEach(prerequisite => {
                const stickyNote = document.querySelector(
                    `sticky-note[id="${prerequisite.prerequisite}"] > div`
                );
                const indicator = stickyNote?.querySelector('.indicator');

                if (!stickyNote || !indicator) return;

                stickyNote.classList.add('bg-orange-300');

                const chevronLeft = createElement(ChevronLeft);
                indicator.appendChild(chevronLeft);
            });
        }

        highlightPrerequisiteSequence(prerequisiteSequence: number[]) {
            prerequisiteSequence.forEach((prerequisite) => {
                const stickyNote = document.querySelector(
                    `sticky-note[id="${prerequisite}"] > div`
                );
                const indicator = stickyNote?.querySelector('.indicator');

                if (!stickyNote || !indicator || stickyNote.classList.contains('bg-orange-300')) return;

                stickyNote.classList.add('bg-yellow-200');

                const chevronsLeftIcon = createElement(ChevronsLeft);
                indicator.appendChild(chevronsLeftIcon);
            });
        }

        highlightPostrequisiteSequence(postrequisiteSequence: number[]) {
            postrequisiteSequence.forEach(postrequisite => {
                const stickyNote = document.querySelector(
                    `sticky-note[id="${postrequisite}"] > div`
                );
                const indicator = stickyNote?.querySelector('.indicator');

                if (!stickyNote || !indicator) return;

                stickyNote.classList.add('bg-sky-800');
                stickyNote.classList.add('text-white');

                const chevronsRight = createElement(ChevronsRight);
                indicator.appendChild(chevronsRight);
            })
        }

        resetHighlights() {
            const stickyNotes = document.querySelectorAll('sticky-note > div');
            stickyNotes.forEach(n => {
                n.classList.remove('bg-orange-300');
                n.classList.remove('bg-yellow-200');
                n.classList.remove('bg-sky-800');
                n.classList.remove('text-white');

                const indicator = n.querySelector('.indicator');
                if (indicator) indicator.innerHTML = '';
            });
        }
    }

    customElements.define('sticky-note', StickyNote);
</script>