---
import type {GuideCourse} from "../types";
import CourseStickyNote from "./CourseStickyNote.astro";
import {$studyPlan} from "../stores/studyPlan";

const {semester, semesterCourses} = Astro.props;

const studyPlan = $studyPlan.get();
if (!studyPlan) return;
---

<div class="flex flex-col gap-1">
    <h1 class="font-sketch opacity-60 text-center">{semester}</h1>
    <div class="flex flex-col gap-2">
        {semesterCourses.map((semesterCourse: GuideCourse) => {
            const course = studyPlan.courses[semesterCourse.course];
            if (!course) return;

            return <CourseStickyNote
                    key={course.id}
                    id={course.id}
                    code={course.code}
                    name={course.name}
                    creditHours={course.creditHours}
                    prerequisites={course.prerequisites}
            />
        })}
    </div>
</div>
